.signin {
  display: flex;
  height: 100vh;
  font-family: "poppins", sans-serif;
}
.formBox {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 55vw;
  background-color: #f0f2f5;
}
.entete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.imageBox {
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  width: 45vw;
}
.signupBtn {
  color: #20dc49;
  border: none;
  background-color: #f0f2f5;
  text-decoration: underline;
}
.signupBtn :hover {
  color: #7df296;
}
.body {
  height: 70vh;
}
.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
}
.subtitle {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
}
.signinForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  row-gap: 20px;
}
.signinForm input {
  width: 400px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding-left: 10px;
}
.signinForm button {
  margin-top: 20px;
  width: 400px;
  height: 45px;
  flex-shrink: 0;
  stroke-width: 1px;
  border: 1px solid #2e2e2e;
  border-radius: 10px;
  background-color: #f0f2f5;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.signinForm button:hover {
  background-color: #20dc49;
}
